* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Very-dark-blue: hsl(233, 47%, 7%);
    --Dark-desaturated-blue: hsl(244, 38%, 16%);
    --Soft-violet: hsl(277, 64%, 61%);

    --White: hsl(0, 0%, 100%);
    --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
    --Slightly-transparent-white: hsla(0, 0%, 100%, 0.6);

    --ff-inter: "Inter", sans-serif;
    --ff-lex: "Lexend Deca", sans-serif;
}

body {
    font-size: 15px;
    background-color: var(--Very-dark-blue);
}

.container {
    background-color: var(--Dark-desaturated-blue);
    border-radius: 0.5rem;
    margin: 5rem 1.5rem;
    text-align: center;    
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
    filter: sepia(10%) hue-rotate(960deg) brightness(60%) saturate(2000%) opacity(70%) ;
}

.product__title {
    padding: 1rem;
    color: var(--White);
    font-family: var(--ff-inter);
}

.product__title span {
    color: var(--Soft-violet);
}

.product__description {
    padding: 0 2rem 2rem 2rem;
    color: var(--Slightly-transparent-white);
    font-family: var(--ff-inter);
}

.product__stats {
    font-family: var(--ff-lex);
    font-weight: 300;
}

.product__stats h2 {
    color: var(--White);
    font-weight: 600;
    font-family: var(--ff-inter);
}

.product__stats p {
    color: var(--Slightly-transparent-white);
    padding-bottom: 1.5rem;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: white;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width:768px) {
    .container {
        flex-direction: row-reverse;
        border-radius: 0.5rem;
        width: 1000px;
        height: 400px;
        margin: 12rem auto;
    }

    img {
        width: 50%;
        height: 100%;   
    }

    section {
        display: flex;
        flex-direction: column;
        padding: 3rem;       
    }

    .product__title {
        text-align: left;
        font-size: 24px;
        padding-left: 0;
        width: 400px;   
    }

    .product__description {
        text-align: left;
        width: 400px;
        padding-left: 0;
    }

    .product__stats {
        display: flex;
        width: 400px;
        flex-direction: row;
        margin: 3rem 0;
        gap: 4rem;
        text-align: left; 
    } 
}